{% extends 'base.html.twig' %}


{% block title %}HomePage
{% endblock %}


{% block body %}
    {{ parent() }}

    <br/>
    <div class="card-deck">
        {% set i = 0 %}
        {% for card in cards %}
            {% if i < 2 %}
                {{ include('include/card.html.twig',{
            
                    id:card.id,
                    title:card.title,
                    content:card.content,
                    price:card.price,
                    created_date:card.createdAt|date("m/d/Y")
                }
                )}}
            {% endif %}

            {% if cards|length == 1 %}

                {{ include("include/card_default.html.twig") }}

            {% endif %}

        {% set i = i + 1 %}
    {% endfor %}

        </div>



{% endblock %}

{% block button %}
    <br/>
    <a href="{{path("annoncement")}}" role="button" type="button" class="btn btn-secondary btn-lg btn-block">Show More</a>
    {% if app.user %}
        <span class="badge badge-success">Vous êtes connecté: {{app.user.username}}</span>
    {% endif %}

{% endblock %}
