{% block cards %}


    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{title}}</h5>
            <p class="card-text">{{content}}</p>
            <p>{{price}}€</p>
            <a href="/annoncement/{{id}}/detail" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Details de
                {{title}}</a>
        </div>
        <div class="card-footer">
            <small class="text-muted">{{created_date}}</small>
        </div>
    </div>


{% endblock %}
